@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Manrope', sans-serif;
}


body {
  @apply bg-deep-dark-purple h-screen;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.main {
  @apply flex flex-col justify-between p-8;
}

.header {
  @apply flex flex-row justify-around bg-black w-full text-white p-5 items-center;
}

.logo {
  @apply font-bold text-xl;
}

.burger-menu-line {
  @apply block w-8 h-0.5 bg-cool-yellow;
}

.burger-menu-button {
  @apply space-y-2 flex flex-col justify-center items-center;
}

.note-card {
  @apply flex mt-10 flex-col w-[85vw] px-5 bg-dark-purple rounded-xl drop-shadow-lg h-[50vh] overflow-hidden;
}

.write-note-card {
  @apply flex w-full justify-center items-center bg-dark-purple rounded-xl drop-shadow-lg px-5;
}

.note-card-title {
  @apply font-bold text-2xl text-white;
}

.note-card-content {
  @apply text-white break-all;
}

.note-card-date {
  @apply text-xs text-gray-500;
}

.note-labels {
  @apply flex flex-row text-left;
}

.label {
  @apply w-fit select-none bg-cool-yellow px-3 py-0.5 mr-3 text-center text-sm font-bold rounded-sm;
}

.read-note-button {
  @apply bg-[#d64040] font-bold p-2 my-1 rounded-md;
}

.write-note-button {
  @apply bg-[#d64040] font-bold py-2 px-10 my-1 rounded-md;
}

.header-right {
  @apply flex flex-row items-center
}

.create-note-button {
  @apply bg-white mx-3 text-black font-bold p-1 my-1 rounded-md
}

.sub-header {
  @apply flex items-center justify-center flex-row py-5 w-full bg-purple-950;
}